.container {
  display: flex;
  flex-direction: row;
}

.containerGrid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100vw / 3.1);
  grid-gap: 10px;
  height: 100vh;
  background: rgb(59, 59, 59);
  overflow: auto;
  justify-content: center;
}

.containerTitle {
  margin-left: 10px;
  font-size: 1.3rem;
}
